html {
    font-size: 14px;
}
* {
 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    font-stretch: extra-expanded;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    color: #777;
}


/*Meniul principal */
.menu ul li {
    display: inline;
    padding: 15px;
}
.menu {
    border-top:1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    background-color: white;

   }
   .menu ul li a {
    text-decoration: none;
    color: rgb(7, 12, 22);
}
.menu ul li a:hover{
    background-color: darkred;
    cursor: pointer;
    color:white;
    border-radius: 5px;
}
.submenu1 {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.submenu2 {
    border-top:1px solid rgb(153, 153, 153);
    display: flex;
    justify-content: space-around;
    height: 30px;
    
}
.submenu2 * {
    font-size: 11px;
}
.submenu2 ul li a:hover {
    background-color: slategray;
}


.header {
    border: solid white;
    background-color: white;
    text-align: right;
    display: flex;
    justify-content: space-between;
   }
.header ul li {
    display: inline;
    padding: 15px;
}
   .header li a { 
       color: black;
   }
.header li a:hover { 
        background-color: darkred;
   }

   .retailpic {
       display: flex;
       
       align-self:flex-start;
   }
   .upmenu1 {
       background-color:maroon;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 30px;
   }
    .upmenu1 p a {
       color: white;
       font-size: 10px;
   }
   .upmenu2 {
       background-color: rgb(197, 190, 190);
       display: flex;
      
       justify-content: space-around;
       align-items: center;
       color:black;
       height: 30px;
   }
   .upmenu2 ul li{
    display: inline;
    padding: 15px;
   }
   .upmenu2 ul li a {
       text-decoration: none;
       color:rgb(58, 55, 55);
       font-size: 11px;
   }
   .upmenu2 ul li a:hover {
    background-color: slategray;
    cursor: pointer;
}
   /*End Meniu*/


   /*Style Footer */
  
.main-footer-container {
    display: flex;
    justify-content: space-between;
}

.main-footer-container ul  {
   list-style-type: none;
    display: flex;
   
    padding: 10px;
    margin-right: 20px;
}
.main-footer-container ul li {
    margin-right: 15px;
}





footer {
    text-align: left;
    border-top: 1px solid rgb(153, 153, 153);
    position:relative;
    bottom:0;
    width:100%;
    height: 400px;
    background-color: rgb(233, 233, 233);
}


.flex-container2{
    display: flex;
    justify-content: space-around;
}
.flex-container2 ul li {
    display: block;
    margin-top: 20px;
}
.sector {
    width: 300px;

}
.sector h4 {
    color:black;
    border-bottom: 1px solid rgb(153, 153, 153);
}
.sector ul li a {
    color:rgb(153, 153, 153);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 60px 0;
    
}
.sector ul li a:hover {
    background-color: grey;
}


.sosumi {
    color: rgb(153, 153, 153);
}
.flex-container5 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    border-top: 1px solid rgb(153, 153, 153);
    padding: 0  10px;
}
.brand-name {
    padding-left: 17px;
}
.newsletter_footer{
    text-decoration: none;
    color:black;
}

/*end Footer */
  


/*cele 3 coloane */

.flex-container {
    display:flex;
    justify-content: center;
    align-content: space-around;
    margin: 0 100px;
}

.column {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #888888;
}
.title3 {
    padding: 10px;
    margin: auto;
}
/*End 3 coloane*/



/*Start 6 columns*/
.flex-container6 {
    display: flex;
    justify-content: space-around;
    column-gap: 2px;;
}
.cell {
    margin: 1px;
}
.cell p:nth-child(4) {
    border-bottom: 1px solid rgb(153, 153, 153);
    border-top: 1px solid rgb(153, 153, 153);
    padding: 5px;
}

/*End 6 columns*/

/* Section high luxury*/
.flex-container7 {
    display: flex;
    justify-content:center;
    column-gap: 0px;;
}
 
/*END  Section high luxury*/

/*Prima imagine OMEGA space*/
.imgcard img {
        margin-bottom: 15px;
        background-clip: content-box;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 11px 11px 0 0;
  }



  .omega1container {
     position: relative;
    margin:auto 10px;
}
.omega1img {
    width: 100%;
    height: auto;
    opacity: 1.0;
}
.topleft1 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    border:1px solid grey;
  }
 
/*End Omega space*/

.welcome2 {
    text-align: center;
}

/*klarna style*/
.klarna {
    background-color: indianred;
    color: black;
    text-align: center;
    margin: 0 10px;
}
.klarna a {
    color: black;
    text-decoration: none;
}
.klarna a:hover{background-color: grey;}
/*klarna style*/



/*Just in style*/
.title {
    text-align: center;
}
.topleft2 {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 10px;
    border:1px solid grey;
    padding: 3px;
  }
/*END Just in style*/

/*  Responsive mobile  */
@media only screen and ( max-width:700px ){	
    .column {
            width:100%;
            max-width:100%;   
    }
    .first, .third {
        visibility: hidden;
    }
    .small1 {
        width: 280px;
    }
    .flex-container2 {
        display: none;
    }
    .flex-container6, .flex-container7{
        flex-wrap: wrap;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    .responsive1{
        display: none;
    }
    .submenu2{
        display: none;
    }
    .submenu1{
        flex-wrap: wrap;
        align-items: start;
        width: 100%;
        margin: 0;
    }
    .header{
        flex-wrap: wrap;
    }
    .main-footer-container{
     display: flex;
     flex-direction: column;
     align-items: center;   
    }
   
   
    }
    

/*
    @media only screen and (max-width: 790px) {
        .allheader{
            width: 100%;
        }
    
        .flex-container6 {
            flex-wrap: wrap;
             
         }
         .omega1container {
             flex-wrap: wrap;
            
         }
    
       
    }
    */
    @media (min-width: 700px) {
        .container {
          /*width: 1020px; */
          margin: 0 auto;
          padding: 0;
        }
        .flex-container6, .flex-container7 {
           flex-wrap: wrap;
            
        }
        .omega1container {
            flex-wrap: wrap;
           
        }
        .submenu1{
            flex-wrap: wrap;
            align-items: start;
            width: 100%;
            margin: 0;
        }
    }
    /*END Responsive mobile  */


    .textbox {
        border: 1px solid transparent;
        padding: 1px;
        margin: 0 auto;
        width: 300px;
    }


    /* Style trust pilot*/

    .fa {
        font-size: 17px;
      }
      
      .checked {
        color: green;
      }
    /*END  Style trust pilot*/


    /* Style search button*/
    .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
       
        font-size: 18px;
        border: none;
        cursor: pointer;
      }
      
       .search-container button:hover {
        background: #ccc;
      }

      input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
      }
      

    /*END Style search button*/


    /*Section between*/
    .spot{
        text-align: center;
        color: black;
    }
    /*Section between*/

    /*Start Section zoom pictures */

    .image-wrapper{
        width: 200px;
        height: 200px;
        overflow: hidden;
    }
   
    .image-zoom{
        height: 100%;
        transition: transform 200ms linear;
    }
   .image-zoom:hover{
       transform: scale(1.15);
   }
    /*End Section zoom pictures */